<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd    
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">  
      <!-- 引入配置文件 -->  
    <bean id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:jdbc.properties" />  
    </bean>  
  
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close">  
        <property name="driverClassName" value="${driver}" />  
        <property name="url" value="${url}"/>  
        <property name="username" value="${username}" />  
        <property name="password" value="${password}" />  
        <!-- 初始化连接大小 -->  
        <property name="initialSize" value="1"></property>  
        <!-- 连接池最大数量 -->  
        <property name="maxActive" value="100"></property>  
        <!-- 连接池最大空闲 -->  
        <property name="maxIdle" value="30"></property>  
        <!-- 连接池最小空闲 -->  
        <property name="minIdle" value="10"></property>  
        <!-- 获取连接最大等待时间 -->  
        <property name="maxWait" value="5000"></property>  
        <!--true 对性能影响 所以改为false  -->
        <property name="testOnBorrow" value="false"></property>
        <property name="testOnReturn" value="false"></property>
        <!--指明连接是否被空闲连接回收器(如果有)进行检验 如果检测失败 则连接将被从池中去除 -->
        <property name="testWhileIdle" value="true"></property>
        <!-- 每隔1分钟对链接进行扫描 --> 
        <property name="timeBetweenEvictionRunsMillis" value="30000" />   
        
        <!-- 每次扫描链接数量 --> 
        <property name="numTestsPerEvictionRun" value="30" />   
        <!-- 连接在池中保持空闲而不被空闲连接回收器线程    链接存活时间 --> 
        <property name="minEvictableIdleTimeMillis" value="60000" /> 
        <!-- 自动回收超时连接 -->

        <property name="validationQuery" value="select 1 from dual"></property> 

    </bean>  
  
   <!--    spring和MyBatis完美整合，不需要mybatis的配置映射文件
	    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
	        <property name="dataSource" ref="dataSource" />  
	        自动扫描mapping.xml文件  
	        <property name="mapperLocations" value="classpath:SqlMap/*.xml"></property>  
	    </bean>  
	  
	    DAO接口所在包名，Spring会自动查找其下的类  
	    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
	        <property name="basePackage" value="com.rhjf.appserver.mapper" />  
	        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
	    </bean>  
   -->
    <!--  (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean> 
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />   
  
</beans> 