*{margin: 0;padding: 0;}
body{background-color: #ffffff;}
#index{width: 18.75rem;background-color: #ffffff;padding-bottom: 2rem;}
.top{width: 18.75rem;height: 12.7rem;background-color: #f8f8f8;position: relative;top: 0;}
.top img{width: 4.2rem;height: 4.2rem;margin: 0rem auto 1.2rem;padding-top: 2.2rem;display: block;}
.top p{height: 1.2rem;line-height: 1.2rem;text-align: center;color: #444444;font-size: 0.75rem;}
.shadow{position: absolute;bottom: 0;width: 18.75rem;height: 2rem;background: linear-gradient(to bottom, #f8f8f8 , #e1e1e1);}
.bottom{width: 18.75rem;background-color: #ffffff;}
.bottom p{height: 3.75rem;line-height: 3.75rem;color: #444444;text-align: center;font-size: 0.75rem;margin-bottom: 0.9rem;}
.bottom img{display: block;margin: 0 auto 2.5rem;width: 10rem;height: 2.5rem;}
.bottom img:active{opacity: 0.7;}
