html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

a { text-decoration: none; color: #666666; }

ul, ol { list-style: none; }

body { width: 100%; font-family: "Microsoft YaHei","Arial"; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { height: 100%; }

.downLoad-body { height: 100%; }

.downLoad-wrapper { width: 100%; height: 100%; margin: 0 auto; background-image: url("../imgs/downLoadBg@2x.png"); background-repeat: no-repeat; background-size: 100% 100%; position: relative; }
@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) { .downLoad-wrapper { background-image: url("../imgs/downLoadBg@3x.png"); } }
.downLoad-wrapper .downLoad-footer { width: 100%; position: absolute; left: 0; bottom: 0; -webkit-box-sizing: "border-box"; -moz-box-sizing: "border-box"; box-sizing: "border-box"; height: 3.9466666667rem; }
.downLoad-wrapper .downLoad-footer .download { display: block; margin: 0 auto; margin-top: 0.64rem; width: 4.9866666667rem; height: 0.9333333333rem; background-image: url("../imgs/down@2x.png"); background-repeat: no-repeat; background-size: 100% 100%; }
@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) { .downLoad-wrapper .downLoad-footer .download { background-image: url("../imgs/down@3x.png"); } }
.downLoad-wrapper .downLoad-footer .downLoad-version { margin: 0 auto; margin-top: 0.4rem; margin-bottom: 0.4rem; width: 4.9866666667rem; height: 0.3733333333rem; line-height: 0.3733333333rem; font-size: 0.3733333333rem; color: #ffffff; }
.downLoad-wrapper .weChat-wrap { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: none; }
.downLoad-wrapper .weChat-wrap .title { font-size: 0.5333333333rem; margin-top: 1.8666666667rem; font-size: 0.56rem; text-align: center; color: #ffffff; font-weight: 500; position: relative; }
.downLoad-wrapper .weChat-wrap .title:after { display: block; content: ""; width: 0.8533333333rem; height: 0.8533333333rem; background: url("../imgs/arrow.png") no-repeat; background-size: 100% 100%; position: absolute; bottom: 0.1333333333rem; right: 1.0666666667rem; }
.downLoad-wrapper .weChat-wrap .text { margin-top: 0.5333333333rem; font-size: 0.48rem; text-align: center; color: #ffffff; }
.downLoad-wrapper .android-wrap { position: fixed; left: 0; bottom: 0; width: 100%; margin: 0 auto; display: none; }
.downLoad-wrapper .android-wrap .android-bg { position: fixed; left: 0; bottom: 0; width: 100%; height: 100%; margin: 0 auto; background-color: rgba(0, 0, 0, 0.5); z-index: -1; }
.downLoad-wrapper .android-wrap .detail { position: relative; z-index: 20; background-color: #ffffff; }
.downLoad-wrapper .android-wrap .detail .info { padding-left: 0.4rem; padding-right: 0.4rem; padding-top: 0.1333333333rem; padding-bottom: 0.1333333333rem; color: #666666; border-bottom: thin solid #dddddd; }
.downLoad-wrapper .android-wrap .detail .info .name { padding-top: 0.2rem; padding-bottom: 0.2rem; font-size: 0.4533333333rem; color:#000}
.downLoad-wrapper .android-wrap .detail .info .msg { padding-bottom: 0.2rem; font-size: 0.4rem; }
.downLoad-wrapper .android-wrap .detail .info .msg .status { margin-left: 0.4rem; color: #3cd50a; border: thin solid #3cd50a; padding-left: 0.1333333333rem; padding-right: 0.1333333333rem; border-radius: 0.1066666667rem; }
.downLoad-wrapper .android-wrap .detail .download-item { display: block; border-bottom: thin solid #dddddd; text-align: center; font-size: 0.4533333333rem; padding-top: 0.2666666667rem; padding-bottom: 0.2666666667rem; color: #666666; }
.downLoad-wrapper .android-wrap .detail .download-item:last-child { border: 0; }

@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) { .downLoad-wrapper .downLoad-footer { height: 4.88rem; }
  .downLoad-wrapper .downLoad-footer .download { width: 7.48rem; height: 1.4rem; }
  .downLoad-wrapper .downLoad-footer .downLoad-version { width: 7.48rem; height: 1.4rem; line-height: 0.3733333333rem; } }
@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) { .crumbs-wrap .more:before { background-image: url("../imgs/more@3x.png"); } }

@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) { .crumbs-wrap .more:before { width: 0.56rem; height: 0.12rem; margin-top: -0.0533333333rem; } }

/*# sourceMappingURL=style.css.map */
